nav ul {
  list-style: none;
  align-items: stretch;
}

body {
  background-color: beige;
}

header {
  font-size: 4.5em;
  font-family: "Times New Roman", Times, serif;
}
.topnav {
  overflow: hidden;
}

img {
  margin: 20px;
  padding: 10px;
  width: 200px;
  height: 200px;
}

menu {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
container {
  display: block;
}

logo {
  width: 400px;
  height: 400px;
}
.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 12px;
  display: flex;
  padding: 10px;
  margin-left: 5px;
}
.lowerright {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 16px;
  display: flex;
  padding: 2px;
}
label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 100px;
  padding: 10px;
  height: 20px;
}
input {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 100px;
  padding: 10px;
  height: 20px;
}
